@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:wght@700&display=swap");
html, body {
  overflow: hidden;
}

header {
  background-color: #a41e36;
  top: 0;
  font-size: calc(5pts + 1.5vh);
  z-index: 9999;
}

.hero {
  background-image: url(../images/new-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}