* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F0F8FF ;
}
/* Start Header Styles*/
header {
    padding: 20px 20px;
    margin: 0 0 2px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url(../images/palm-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    font-size: 40px;
    color: #7fffd4;
    font-style: italic;
    text-shadow: rgba(0,0,0, 1);
}

header a {
    color: honeydew;
    text-decoration: none;
    text-shadow: rgba(0,0,0, 1);
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(0,0,0, 1);
}

header nav ul li a:hover {
    background: rgba(0, 139,139, .75);
    color: honeydew;
    text-shadow: none;
}

/*End Header Styles*/

/*Hero Styles*/

.hero {
    background-image: url(../images/palm-bg.jpg);
    background-size: cover;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
}
.hero p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: honeydew;
    font-size: 40px;
    text-shadow: 3px #7fffd4;
    padding: 200px;
    margin: 5px 0 0 0;
}
/*End hero Styles*/

.section-title {
    font-style: italic;
    color: honeydew;
    font-size: 30px;
    align-items: center;
    text-decoration: underline #7fffd4;
    display: flex;
    float: left;
    width: 30%;
}

.work-title {
    font-style: italic;
    color: #008B8B;
    font-size: 40px;
    text-decoration: underline #7fffd4;
    display: flex;
    justify-content: center;
    width: 100%;
}

.about { 
    display: flex;
    justify-content: center;
    background-color: rgba(85, 201, 201, 0.75);
    width: 100%;
    padding: 10px;
}

.about-me p {
    line-height: 1.5;
    width: 90%;
    margin:0 auto;
    padding: 0;
    text-align: center;
    color: honeydew;

}
/*My Work Grid*/
.grid-wrapper {
    display: flex;
    width: auto;
    justify-content: center;
    margin: 0 0 10px 0;
}
.grid-container {
   display: grid;
   grid-template-rows: 1fr 1fr;
  grid-template-columns: 25vh 25vh 25vh 25vh;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item.rb {
    display: flex;
    justify-content: center;
    grid-row: 1/ 2;
    grid-column: 1/ 5;
}

.grid-item.flowers {
    display: flex;
    justify-content: center;
    grid-row: 2/ 3;
    grid-column: 1/ -3;
}

.grid-item.santiago {
    display: flex;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: -3/ -1

}

.grid-item.rb img {
    object-fit: fill;
    width: 100%;
    max-height: 100%;
} 

.grid-item.flowers img{
    object-fit: fill;
    width: 100%;
    max-height: 100%;

}
 .grid-item.santiago img {
    object-fit: fill;
    width: 100%;
    max-height: 100%;
 }

 .img-link:hover {
     flex-wrap: wrap;
    border: 5px solid rgba(0,0,0, .5);
 }
  
/*Contact Me*/
    .contact {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 139,139, .75);
    padding: 10px;
    width: 100%;
    }

    .contact-info {
        display: inline;
        justify-content: space-evenly;
    }
/*Start Footer Styles*/

footer {
    font-size: 20px;
    color: #008B8B;
    text-align: bottom;
    width: 100%;
    
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }

    header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }

}

/*MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
    
        .grid-container {
            display: inline-grid;
            width: 100%;
      }
       .work-title {
           width: 100%;
           text-align: center;
           margin-left: 200px
       }

       .contact {
        width: 100vh;
    }
/*MEDIA QUERY FOR PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    header {
        display:flex;
        justify-content: center;
        width: 100vh;
     }
 
     header h1 {
         justify-content: center;
     }
     
     .hero {
         position: relative;
         display: flex;
         justify-content: center;
         width: 100vh;
     }
     .about {
        width: 100vh;
    }