@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:wght@700&display=swap');
@mixin transition($time, $property: all, $easing: ease-in) {
    transition: $property $time $easing;
}


$transition-speed: 1.2s;
$slide-number: 4;
$title-font: 'Noto Serif', serif;
$secondary-font: 'Montserrat', sans-serif;


html, body {
  overflow: hidden;
}

header {
    font-family: $title-font;
    top: 0;
    font-size: calc(5pts + 1.5vh);
    z-index: 9999;
}
.hero {
  background-image: url(../images/new-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: $title-font;
}
